# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Environment Variables
.env

# macOS
.DS_Store

# Linux
*~

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# mypy
.mypy_cache/

# IDE
.idea/